* {
    font-family: 'YouTube Noto', Roboto, arial, sans-serif;
}

nav {
    position: fixed;
    width: 96%;
    top: 0;
    background-color: white;
    padding: 5px;
    display: inline-flex;
    z-index: 1;
}

#search-bar{
    width: -webkit-fill-available;
    font-size: 100%;
    display: inline-flex !important;
    justify-content: center;
}

#search-query{
    text-align: left;
    height: 30px;
    font-size: 16px;
    width:  100%;
    max-width: 650px;
}

#search-button{
    height: 36px;
    vertical-align: sub;
}

#search-button-span{
    background-image: url("../images/icons.png");
    background-position: -28px -66px;
    width: 15px;
    height: 15px;
    display: block;
}

#content {
    margin: 50px;
}

#lefttab, #righttab {
    width: 100%;
}

#video {
    width: 100%;
    height: auto;
    min-height: 480px;
}

.thumbnail {
    position: relative;
    height: 94px;
    margin-bottom: 10px;
}

.thumbnail-left {
    position: absolute;
    top: 0px;
}

.thumbnail-right {
    position: relative;
    left: 181px;
    text-decoration: none;
}
.thumbnail-right span {
    display: block;
    margin-bottom: 5px;
}

.thumbnail-title {
    width: 60%;
    display: block;
    font-weight: bold;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.thumbnail-channel-name, .thumbnail-viewcount {
    color: rgb(118, 118, 118);
    font-size: 11px;
}

@media only screen and (min-width: 768px) {
    #lefttab {
        float: left;
        width: 66%;
    }
    #righttab {
        float: right;
        width: 33%;
    }
}

#Youtubehome{
    text-decoration: none;
}

#Youtubehome span{
    background-image: url("../yt_logo.png");
    font-size: 100%;
    width: 40px;
    height: 30px;
}

#channel-icon{
    text-decoration: none;
    font-size: 20px;
    color: rgb(51, 51, 51);
    float: left;
}

#channel-icon span{
    vertical-align: super;
}

#views-count p{
    float: right;
}

#controls{
    height: 50px;
    padding-right: 10px;
}

.mini-icons{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
}

#subscribe{
    background-color: white;
    border: 0;
    float: left;
    margin-top: 7px;
    padding-left: 10px;
}

h3{
    font-size: 13px;
}

#dislike, #like{
    background-color: white;
    border: 0;
    float: right;
}

#share{
    background-color: white;
    border: 0;
    text-align: center;
}

#last-buttons{
    height: 30px;
}

#description{
    margin-top: 10px;
}

