* {
    font-family: 'YouTube Noto', Roboto, arial, sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    padding: 5px;
}

#content {
    margin: 50px;
}

#lefttab, #righttab {
    width: 100%;
}

#video {
    width: 100%;
    height: auto;
    min-height: 480px;
}

.thumbnail {
    position: relative;
    height: 94px;
    margin-bottom: 10px;
}

.thumbnail-left {
    position: absolute;
    top: 0px;
}

.thumbnail-right {
    position: relative;
    left: 181px;
    text-decoration: none;
}
.thumbnail-right span {
    display: block;
    margin-bottom: 5px;
}

.thumbnail-title {
    width: 60%;
    display: block;
    font-weight: bold;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.thumbnail-channel-name, .thumbnail-viewcount {
    color: rgb(118, 118, 118);
    font-size: 11px;
}

@media only screen and (min-width: 768px) {
    #lefttab {
        float: left;
        width: 66%;
    }
    #righttab {
        float: right;
        width: 33%;
    }
}

#search-bar{
    width: 100%;
    font-size: 100%;
    display: inline;
    padding: 20px;
    vertical-align: super;
}

#search-query{
    text-align: left;
    height: 27px;
    font-size: 16px;
    width:  100%;
    max-width: 650px;
}

#search-button{
    height: 29px;
    vertical-align: sub;
}

#search-button-span{
    background-image: url("../images/icons.png");
    background-position: -28px -66px;
    width: 15px;
    height: 15px;
    display: block;
}

#Youtubehome{
    text-decoration: none;
}

#Youtubehome span{
    background-image: url("../yt_logo.png");
    font-size: 100%;
    width: 40px;
    height: 30px;
}

#channel-icon{
    text-decoration: none;
    font-size: 20px;
    color: rgb(51, 51, 51);
}

#channel-icon span{
    vertical-align: super;
}

#views-count p{
    text-align: right;
}
